@model QuanLyBanSach.Models.NhaXuatBan

@{
    ViewBag.Title = "Detail_NXB";
    Layout = "~/Views/Shared/admin.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Chi tiết Nhà xuất bản</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayFor(model => model.TenNXB)</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">Mã NXB</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.MaNXB)</dd>
                    <dt class="col-sm-4">Tên NXB</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TenNXB)</dd>
                    <dt class="col-sm-4">Địa chỉ</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DiaChi)</dd>
                    <dt class="col-sm-4">Số điện thoại</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DienThoai)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Quay lại", "List_NXB")
</div>
